.popup_share {
    display: grid;
    grid-template-rows: 100%;
    background-image: url('/src/assets/img/bg_image_21.jpg') ;
    margin: 20px auto;
    padding: 0;
    border-radius: 5px;
    width:40rem;
    height:23rem;
    position: relative;
    z-index: 999;
  }
  .child_two_sub2_box2_p {
    background-color:rgba(60, 71, 105, 0.623);
    color: #213e81;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .child_two_sub3_box2_p{
    display: grid;
    grid-template-rows: 30% 20% 20% 30%;
    padding: 10px;
  
  }
  .main_img{
    display: flex;
    justify-content: center;
    img{
      width: 100px;height: 100px;border-radius: 100%;
    }
  }
  .main_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 25px;
    .m_name{
      color: #213e81;
      font-size: 18px;
    }
    .m_desig{
      font-size: 14px;
      color: rgb(41, 104, 129);
    }
  }
  .main_share{
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(3,60px);
  }
  .sharing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 25px;
    a {
      margin-top: 7px;
      height: 35px;
      width: 35px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      color: white;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.144);
      i {
        font-size: 16px;
      }
    }
  }
  .mail {
    background-color: #ea4335;
  }
  
  .whatsapp {
    background-color: #42e861;
  }
  .send {
    background-color: rgb(79, 79, 255);
  }
  
  .yt {
    background-color: rgb(79, 79, 255);
  }
  .main_inputs{
    display: grid;
    grid-template-rows: 50% 50%;
  }
  .child_input{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .child{
    height:40px;
    width: 70%;
    display: grid;
    grid-template-columns: 15% 85%;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.486);
  }
  
  .child_name{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color:#213e81;
      font-size: 18px;
  
    }
  }
  .input_child{
    input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    }
  
  }
  .child_btn{
    height:40px;
    width: 70%;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #213e81;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .skill_detail_p {
    color: white;
    padding: 10px;
    .skills {
      font-size: 14px;
      text-align: justify;
      line-height: 20px;
      font-weight: bold;
      color: skyblue;
    }
    .details {
      font-size: 14px;
      margin-top: 10px;
      text-align: left;
      line-height: 20px;
    }
    .hr_bottom {
      margin-top: 20px;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
  }
  

  .popup .content {
    max-height: max-content;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .popup_share{
      width: 90%;
      margin: 10px;
    }

    .child{
      height:30px;
      width: 100%;
      font-size: 13px;
    }
    .child_btn{
      height:30px;
      width: 100%;
      font-size: 13px;
    }
    .main_detail{
      .m_name{
        font-size: 14px;
      }}
      .sharing{
        a {
          margin-top: 7px;
          height: 30px;
          width: 30px;
        }
      }
      .child_two_sub3_box2_p{
        display: grid;
        grid-template-rows: 30% 20% 20% 30%;
        padding: 10px;
      
      }
      .child_two_sub2_box2_p {
        font-size: 14px;
      }
  }