<div class="content-wrapper">
    <div class="body_header_row">
    </div>
    <section class="content">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="background-color: #012060;height: 74vh;" id="card_top_border">
                            <div class="card-header border-transparent">
                                <h1>coming soon<span class="dot">.</span></h1>
                                <p>Our team currently working on this process.</p>
                                <div class="icons">
                                    <a target="_blank" href="https://www.facebook.com/despatechlogies/"><i class="fab fa-facebook"></i></a>
                                    <a target="_blank" href="https://www.youtube.com/channel/UCXQdcl7-L3CN0XSCNOKuHvg"><i class="fab fa-youtube"></i></a>
                                    <a target="_blank" href="https://api.whatsapp.com/send?phone=+917066892962"><i class="fab fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</div>