/**********************************************************************************************
***********************************************************************************************/
//Main Body Start

$Main_Body_Color:#fff;

$menu_font_color: #f1eaeeef;
$Font_color : #757575;
$Menu_Font_color : #414c5e;

$icon_color: #304f81;
$side_header_color: #213e81;
$menu_hover: linear-gradient(to top, #ffffff, #ffffff);
// $menu_hover:  #ea4435;

$Add_btn_color : linear-gradient(to top, #6f9fec, #2c74e7);
$msg_count:#f7617f;
$notification_count: #fed713;
$menu_icon_shadow: rgba(0,0,0,0.5);
$menu_icon_shadow_circle : $menu_icon_shadow;
$font_size: 12px;
$Responsivefont_size: 9px; 
// #fed71394
$popup_header: #4285f4;
$form_header: #8190a8;













/* 1. login form */


/* start login form */


$colorAll : #141b38;
/* end login form */

