$profile_dim_blue: #0f010f77;
$profile_navy: rgba(125, 125, 255, 0.096);
$profile_white: rgb(253, 255, 245);
$profile_bg_line: rgba(173, 0, 0, 0.349);
$profile_color_yellow: rgb(250, 192, 0);
$profile_bg_img_header: url("../img/bg_image_2_new.jpg");
$profile_bg_img_body: url("../img/bg_image_2_new.jpg");
$profile_bg_img_body_pop: url("../img/bg_image_21.jpg");
$profile_bg_img_mobile: url("../img/main_bg_mobile.jpg");
$profile_heading: skyblue;

/**********************************************************************************/

//Student Profile Start

$stud_pro_dim_blue: rgba(13, 23, 54, 0.493);
$box_white: rgba(198, 198, 226, 0.11);
$stud_pro_navy: rgba(125, 125, 255, 0.096);
$stud_pro_white: rgb(239, 245, 255);
$stud_pro_bg_line: rgba(13, 23, 54, 0.5);
$stud_pro_btn_bg: rgba(11, 24, 68, 0.699);
$stud_pro_bg_img_header: linear-gradient(to right,(rgba(14, 14, 31, 0.600) 50% ) 50%, rgba(14, 14, 31, 0.600) 50%  ),url("../img/main_bg.jpg");
$stud_pro_bg_img_body: url("../img/bg_image_2_stud_pro.jpg");
$stud_pro_bg_img_mobile: url("../img/main_bg_mobile_stud_pro.jpg");
$stud_pro_watermark_bg:rgba(25, 26, 27, 0.281);
$stud_pro_watermark_color: rgba(25, 26, 27, 0.603);
$stud_pro_heading: skyblue;

//Student Profile End

