//  div{
//      border: groove;
//  }

.contact_me_parent {
    height: 22rem;
    width: 30rem;
    display: grid;
    grid-template-rows: 15% 85%;
    position: relative;
  }
  .contact_popup_close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: gray;
    font-size: 20px;
    top: 5%;
    right: 5%;
  }
  .contact_popup_close:hover {
    color: red;
  }
  .contact_me_head {
    margin: 0 1rem;
    border-bottom: 1px solid rgba(3, 0, 0, 0.281);
    font-size: 22px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact_me_details {
    display: flex;
    // justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
  }
  .contactMe_name {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 5px;
    outline: none;
  }

  .contactMe_mail {
    margin-right: 7px;
    height: 40px;
    width: 57%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 5px;
    outline: none;
  }

  .contactMe_contact {
    margin-left: 8px;
    margin-top: 20px;
    height: 40px;
    width: 39%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 5px;
    outline: none;
  }

  .contactMe_message {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 5px;
    outline: none;
  }
  .contactMe_btn {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 5px;
    outline: none;
    background-color: rgba(3, 52, 107, 0.89);
    color: white;
  }
  @media screen and (max-width: 600px) {
    .contact_me_parent {
      width: 18rem;
      height: 25rem;
    }

    .contactMe_mail {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 5px;
    outline: none;
  }

  .contactMe_contact {
    margin-left: -2px;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 5px;
    outline: none;
  }
  
    .contact_me_head {
      font-size: 20px;
    }
    .contact_me_details {
      padding: 15px;
    }
  }
  