
<div class="content-wrapper">
    <div class="body_header_row">
    </div>
    <section class="content">
        <div class="container-fluid">
            <form autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" id="card_top_border" style="height: 45vh;display: grid; align-items: center;">
                            <div class="card-header border-transparent" style="display: flex;justify-content: center;">
                                <div class="row form_layout_help">
                                    <form autocomplete="off" #form="ngForm">
                                    <label class="h_label">Change Password</label>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input matInput type="password" class="form-input" required
                                                    placeholder="Create New Password" #newPassword>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input matInput type="password" class="form-input" required
                                                    placeholder="Confirm Password" #confirmPassword>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row button_help row_margin">
                                        <button mat-raised-button color="primary"
                                        [disabled]="form.form.invalid"
                                        (click)="onClick(newPassword.value,confirmPassword.value)">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>