<div class="loginFooterSection">
    <a href="assets/DProfile_Privacy_Policy.pdf" class="loginfooter">Condition of use</a>
    
    <p class="loginFooterPipe">|</p>
    <a href="assets/DProfile_Privacy_Policy.pdf" class="loginfooter">Privacy Notice</a>
    <p class="loginFooterPipe">|</p>
    <a href="https://www.despa.co.in/contact.html" class="loginfooter">Contact</a>
</div>
<div class="loginPowBy">
    <p><i class="fa fa-copyright" aria-hidden="true"></i>
        Powered by <span> 
            <a  href="http://despa.co.in" class="poweredbrand" target="_blank">DESPA</a></span> </p>
</div>