<div style="position: relative;">
    <a href="http://despa.co.in" target="_blank"><img class="book_img" 
        src="assets/img/book.png" alt=""></a>
    <div>
    <app-student-profile></app-student-profile>
</div>
<div class="student_profile_watermark">
    - DESPA TECHNOLOGIES PVT LTD -
</div>
<div>
    <app-student-expertise></app-student-expertise>
</div>


<div class="student_profile_watermark">
    - DESPA TECHNOLOGIES PVT LTD -
</div>
<div>
    <app-student-gallery></app-student-gallery>
</div>

<div style="position: sticky;bottom: 0;background-color: rgba(0, 0, 0, 0.534);">
    <app-student-footer></app-student-footer>
</div>
</div>
<!-- <router-outlet></router-outlet> -->