<div class="content-wrapper">
    <div class="body_header_row">
        <label class="body_header" style="color: #30476d85;">Received Tickets
        </label>
    </div>
    <section class="content">
        <div class="container-fluid">
            <form autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" id="card_top_border">
                            <div class="card-header border-transparent">
                                <div class="col-md-12" style="overflow-y: auto;">
                                    <table class="table" id="exp_table">
                                        <thead>
                                            <tr>
                                                <th class="table_row_head" style="width: 8%;">Sr. No.</th>
                                                <th class="table_row_head" style="width: 20%;">Name</th>
                                                <th class="table_row_head" style="width: 20%;">Email</th>
                                                <th class="table_row_head" style="width: 12%;">Mobile</th>
                                                <th class="table_row_head" style="width: 40%;">Problem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let h of objSReceivedTicketsService.arrReceivedTickets; let i = index">
                                                <td class="table_row" style="width: 8%;">{{ i+1 }}</td>
                                                <td class="table_row" style="width: 20%;">{{ h.regName }}</td>
                                                <td class="table_row" style="width: 20%;">{{ h.emailId }}</td>
                                                <td class="table_row" style="width: 12%;">{{ h.mobileNo }}</td>
                                                <td class="table_row" style="width: 40%;">{{ h.problem }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>