@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.dashboard_head {
  border-radius: 10px 10px 0 100%;
  width: 100%;
  background-color: #002060;
  /*background-image:url('/img/header.png');*/
  background-size: 100% 100%;
  height: 50px;
  color: lightgray;
  position: relative;
}

.cfp_h3 {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 24px;
}

.main_parent {
  margin: 0 3rem 2rem 3rem;
}

.block1 {
  background-color: #35d45f;
  height: 150px;
  margin: 0 5px 0 5px;
  display: grid;
  grid-template-columns: 65% 35%;
  border-radius: 10px;
}

.block2 {
  display: grid;
  background-color: #fbbc05;
  height: 150px;
  margin: 0 5px 0 5px;
  grid-template-columns: 65% 35%;
  border-radius: 10px;
}

.block3 {
  display: grid;
  background-color: #4285f4;
  height: 150px;
  margin: 0 5px 0 5px;
  grid-template-columns: 65% 35%;
  border-radius: 10px;
}

.block_child_one {
  display: grid;
  grid-template-rows: 45% 10% 45%;
  margin: 20px 0 30px 10px;
}

.block_sub_child_one {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: bold;
  font-size: 26px;
  color: rgb(0, 19, 80);
}

.block_sub_child_two {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 15px;
  color: rgb(0, 19, 80);
  font-weight: bold;
}

.block_sub_child_three {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 11px;
  color: rgb(0, 19, 80);
}

.block_child_two {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.block_child_two_img {
  background-color: white;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row_height {
  // margin: 0.8rem 0 0 0;
  height: 80px;
  width: 100%;
}
.share_with_profile {
  margin-top: 1rem;
  /*margin-bottom: 1rem;*/
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-size: 22px;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: bold;
}
.share_with_head {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.dashboard_menu {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 30% 70%;
}

.dash_menu_one {
  background-color: #6597ea;
  color: white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash_menu_two {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #6597ea;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .block_child_two_img {
    height: 55px;
    width: 55px;
  }
  .block_child_two {
    padding-top: 1.2rem;
  }
  .row_height {
    margin: .5rem 0 0 0;
    height: 100px;
  }
  .dash_card_design {
    padding: 0 2px 0 2px;
    cursor: pointer !important;
  }
  .dash_left_menu {
    margin-bottom: 10px;
  }
  .dash_right_menu {
    margin-top: 10px;
  }
  .dash_menu_one {
    height: 32px;
    width: 32px;
    font-size: 12px;
  }
  .dash_menu_two {
    font-size: 14px;
  }

  .main_parent {
    margin: 0;
  }

  .block1 {
    margin: 10px 0 10px 0;
    height: 132px;
  }

  .block2 {
    margin: 10px 0 10px 0;
    height: 132px
  }

  .block3 {
    margin: 10px 0 10px 0;
    height: 132px
  }

  .share_with_profile {
    font-size: 18px;
  }
  .share_with_head {
    font-size: 12px;
  }

  .cfp_h3 {
    position: absolute;
    right: 20px;
    font-size: 16px;
    top: 2px;
  }

  .dashboard_head {
    height: 35px;
  }
}.progress_loader{
  position: fixed;
  width: 100%;
  z-index: 99;
}