<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <form autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card main" id="card_top_border">
                            <!-- <div class="card-header border-transparent"> -->
                                <div class="main_qr">
                                    <div class="main_qr_section1">
                                        <div class="qr_logo">
                                            <div class="despa_logo">
                                            <img src="assets/img/D'Profile.PNG" alt="">
                                        </div>
                                            <p class="slogan">make yourself globally known</p>
                                            <p class="despa_url">
                                                <a href="https://despa.co.in" target="_blank">www.despa.co.in</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="main_qr_section2">
                                        <div class="qr_watermark">
                                            <div class="p_left">SCAN</div>
                                            <div></div>
                                            <div class="p_right">SCAN</div>
                                        </div>

                                        <div class="qr_heading">
                                            Scan
                                        </div>
                                        <div class="qr_canvas">
                                            <canvas id="canvas"></canvas> 

                                        </div>
                                        <div class="qr_number">
                                            9420186398@dtpl
                                        </div>
                                        <div class="qr_name">
                                            Dr. Pavan G. Deshmukh' s
                                        </div>
                                        <div class="qr_product_name">
                                           "D' Profile"
                                        </div>
                                        <div class="qr_hint">
                                            ( Scan QR Code to get access of my D' Profile )
                                        </div>

                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>